{{! Includes Boostrap CSS}}
{{> start_page}}
    <title>Pollinator Supporting Plants</title>
{{> end_head_start_body}}
    <article class="container pt-5">
      <header class="row text-center mb-5">
        <h1 class="col-sm display-4">Pollinator Supporting Plants</h1>
      </header>
      <main class="row">
        <div class="col-sm">
          <h2 class="mb-4">Plants</h2>
          <dl>
            {{#each plants}}
            <dt class="row"><h3 class="col-sm">{{common_name}}</h3></dt>
            <dd class="row mb-4">
              <div class="col-sm ml-2">
                <p class="mb-0"><a href={{wikilink}}>{{species}}</a></p>
                <p>{{notes}}</p>
              </div>
              <div class="col-sm">
                {{#if wikiSummary}}
                  {{! Conditionally render errors, wouldn't do this in production}}
                  {{#if wikiSummary.err}}
                    <h4>wikiSummary.err</h4>
                  {{else}}
                  <article>
                    <h4>{{wikiSummary.title}}<h4>
                    <figure>
                      <img src="{{wikiSummary.thumbnail.source}}" alt="{{wikiSummary.title}}">
                      <figcaption>{{wikiSummary.title}}: {{wikiSummary.description}}</figcaption>
                    </figure>
                    <blockquote cite="{{wikilink}}">{{{wikiSummary.extract_html}}}</blockquote>
                  </article>
                  {{/if}}
                {{/if}}
              </div>
            </dd>
            {{/each}}
          </dl>
        </div>
      </main>
    </article>
{{! Includes Boostrap-JS, -JQUERY and -Popper}}
{{> end_page}}
