{{! Includes Boostrap CSS}}
{{> start_page}}
    <title>Pollinator Supporting Plants</title>
{{> end_head_start_body}}
    <article class="container pt-5">
      <header class="row text-center mb-5">
        <h1 class="col display-4">Pollinator Supporting Plants</h1>
      </header>
      <main class="row">
        <div class="col">
          <dl>
            {{#each plants}}
            <dt class="row">
              <h2 class="col-md text-center display-5">{{> species_link}}</h2>
            </dt>
            <dd class="row mb-3">
              <div class="col-md text-center">
                <p class="mb-0">{{notes}}</p>
              </div>
            </dd>
            {{#if wikiSummary}}
            <dd class="row mb-5 justify-content-center">
              {{! Conditionally render errors, wouldn't do this in production}}
              {{#if wikiSummary.err}}
              <p class="col-md err">wikiSummary.err</p>
              {{else}}
              <div class="col-md-6">
                <h3 class="mb-3"><small>Details</small></h3>
                <blockquote class="" cite="{{wikilink}}">
                  <img class="img-fluid img-thumbnail float-left w-50 mt-2 mr-3 mb-2" src="{{wikiSummary.thumbnail.source}}" title="{{> wiki_short_desc}}" alt="{{> wiki_short_desc}}">
                  <div class="">
                    {{{wikiSummary.extract_html}}}
                  </div>
                </blockquote>
              </div>
              <div class="col-md-6">
                <h3 class="mb-3"><small>Supported Species</small></h3>
                  <ul>
                  {{#each supports}}
                    <li>{{> species_link}}</li>
                  {{/each}}
                  </ul>
              </div>
              {{/if}}
            </dd>
            {{/if}}
            {{/each}}
          </dl>
        </div>
      </main>
    </article>
{{! Includes Boostrap-JS, -JQUERY and -Popper}}
{{> end_page}}
