{{! Includes Boostrap CSS}}
{{> start_page}}
    <title>Pollinator Supporting Plants</title>
{{> end_head_start_body}}
    <article class="container pt-5">
      <header class="row text-center mb-5">
        <h1 class="col display-4">Pollinator Supporting Plants</h1>
      </header>
      <main class="row">
        <div class="col">
          <dl>
            {{#each plants}}
            <dt class="row">
              <h2 class="col-md text-center display-5">
                {{common_name}} <small><a href={{wikilink}}>{{species}}</a></small>
              </h2>
            </dt>
            <dd class="row mb-3">
              <div class="col-md text-center">
                <p>{{notes}}</p>
              </div>
            </dd>
            {{#if wikiSummary}}
            <dd class="row mb-5 justify-content-center">
              {{! Conditionally render errors, wouldn't do this in production}}
              {{#if wikiSummary.err}}
              <p class="col-md err">wikiSummary.err</p>
              {{else}}
              <figure class="col-auto">
                <img class="img-fluid" src="{{wikiSummary.thumbnail.source}}" alt="{{wikiSummary.title}}">
                <figcaption><small>{{wikiSummary.title}}: {{wikiSummary.description}}</small></figcaption>
              </figure>
              <blockquote class="col-md-6" cite="{{wikilink}}">{{{wikiSummary.extract_html}}}</blockquote>
              {{/if}}
            </dd>
            {{/if}}
            {{/each}}
          </dl>
        </div>
      </main>
    </article>
{{! Includes Boostrap-JS, -JQUERY and -Popper}}
{{> end_page}}
