{{! Includes Boostrap CSS}}
{{> start_page}}
    <title>Pollinator Supporting Plants</title>
{{> end_head_start_body}}
    <article class="container text-center pt-5">
      <header class="row mb-5">
        <h1 class="col display-4">Pollinator Supporting Plants</h1>
      </header>
      <main class="row">
        <div class="col">
          <dl>
            {{#each plants}}
            <dt class="row">
              <h2 class="col-md display-5">{{> species_link}}</h2>
            </dt>
            <dd class="row mb-2">
              <div class="col-md">
                <p>{{notes}}</p>
              </div>
            </dd>
            {{#if wikiSummary}}
            <dd class="card-deck mb-5 justify-content-center ">
              {{! Conditionally render errors, wouldn't do this in production}}
              {{#if wikiSummary.err}}
              <p class="col-md err">wikiSummary.err</p>
              {{else}}
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Details</h3>
                  <figure class="figure">
                    <img class="figure-img img-fluid card-img" src="{{wikiSummary.originalimage.source}}" title="{{> wiki_short_desc}}" alt="{{> wiki_short_desc}}">
                    <figcaption class="figure-caption">{{> wiki_short_desc}}</figcaption>
                  </figure>
                  <blockquote class="card-text text-md-left" cite="{{wikilink}}">
                      {{{wikiSummary.extract_html}}}
                  </blockquote>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Supported Species</h3>
                  <dl class="card-text">
                  {{#each supports}}
                    <dt><h4>{{common_name}}</h4></dt>
                    <dd><a href={{wikilink}}>{{species}}</a></dd>
                  {{/each}}
                  </dl>
                </div>
              </div>
              {{/if}}
            </dd>
            {{/if}}
            {{/each}}
          </dl>
        </div>
      </main>
    </article>
{{! Includes Boostrap-JS, -JQUERY and -Popper}}
{{> end_page}}
